#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}

echo "Installing Command Line Tools for Xcode..."
xcode-select --install || true

echo "Installing Homebrew..."
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

echo "Setting up Homebrew environment..."
mkdir -p "$HOME/.config/zsh"
echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> "$HOME/.config/zsh/.zshenv"

# 現在のシェルでHomebrewのPATHを設定
eval "$(/opt/homebrew/bin/brew shellenv)"

source "$HOME/.config/zsh/.zshenv"

echo "Installing packages from Brewfile..."
brew bundle --global --file="$HOME/.Brewfile"

{{ end }}
