#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}

echo "Installing Homebrew..."
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

echo "Installing packages from Brewfile..."
brew bundle --global --file="$HOME/.Brewfile"

{{ end }}
